@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
background: #F5E9CF;
color: #F5E9CF;
font-family: 'Poppins', sans-serif;
}

.Weather {
    background: #4D455D;
    border: 1px solid #4D455D;
    margin: 0 auto;
    max-width: 600px;
    padding: 40px;
    border-radius: 16px;

}

.Weather canvas {
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
}

.Weather h1 {
    display: block;
    margin: 20px 0 0 0;
    font-size: 52px;
    line-height: 1.5;
    font-weight: 700;
}

.Weather li {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.5;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #E96479;
    text-decoration: none;
}

a:hover {
    text-decoration: overline;
    color: #E96479;
}

.btn {
    background-color: #E96479;
    border: 1px solid #E96479;
}

.btn:hover {
    background-color: transparent;
    border: 1px solid #E96479;
    color: #E96479;
}

.unit {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: -32px;
    margin-left: 5px;
    line-height: 1;


}

.Weather .temperature {
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
}